.wide_column_left .narrow_column_wrap {
    display: none;
}

.wide_column_left .wide_column_wrap {
    margin-right: 149px;
}

.feed_row {
    padding-bottom: 25px;
}

.post_full_like_wrap .post_like {
    margin-right: -7px;
}

.post_field_user_image, .post_img {
    border-radius: 5%;
}

.feed_submit_shown .feed_post_field_wrap {
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.feed_has_new .feed_new_posts {
    margin-bottom: 25px;
}

/*
None borders
*/
.page_block {
    box-shadow: none;
}