/*
I just hate gray
*/
body {
    background: white;
}

/*
Top menu fix
*/
.top_nav_link.top_profile_link {
    padding-right: 0;
}

.top_profile_name {
    padding-right: 0;
}

.top_profile_img {
    display: none;
}

/*
Online indicator style
*/
.online:after, .chat_tab_imgcont.online:after {
    background-color: #8ac176;
    border: 1px solid white !important;
    border-radius: 50%;
}

/*
Things in circles should be squared!
*/
.wddi_img, .ui_ownblock_img, .like_tt_image, .poll_tt_image, .wpost_owner_head_thumb a, .wpost_owner_head_thumb img, .like_share_ava.wdd_imgs, .like_share_ava.wdd_imgs .wdd_img, .like_share_ava.wdd_imgs .wdd_img_full, .like_share_ava.wdd_imgs .wdd_img_half, .like_share_ava.wdd_imgs .wdd_img_tiny, a.fc_msgs_img, .audio_play, .ts_contact_img, input.text.ts_input, .fans_idolph_wrap, .ui_zoom_inner, .top_profile_img, .wall_module .reply_img, .nim-peer .nim-peer--photo-w, .nim-peer.nim-peer_small .im_grid>img, .nim-peer .nim-peer--photo .im_grid>img, .nim-peer .nim-peer--photo>img, .chat_tab_img, .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid>img, .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo>img, .friends_photo_img, .right_list_img, .group_row_photo, .group_row_img, .page_list_module .thumb, .post_img, .page_list_module .cell_img, .post_field_user_image, .wall_module .copy_post_img, .module_body .people_cell_img, .ow_ava.ow_ava_comm {
    border-radius: 5%;
}

/*
Unread messages notification with counter. It was bad in circle and too red to fit design
*/
.chat_tab_counter, .nim-dialog.nim-dialog_failed .nim-dialog--unread, .nim-dialog.nim-dialog_unread .nim-dialog--unread, .nim-dialog.nim-dialog_unread.nim-dialog_prep-injected .nim-dialog--unread {
    background-color: #7293b6;
    border-radius: 5%;
}

/*
Right bottom corner small dialogs icon style
*/
.chat_onl_inner {
    background-color: white;
}

/*
Feed things (like/share buttons and comments)
It must be global, other way group feed will not be affected
*/
.post_full_like_wrap .post_like, .post_full_like_wrap .post_share {
    float: right;
}

.post_full_like_wrap .reply_link_wrap {
    margin-left: -7px;
    float: left;
}

.post_full_like_wrap {
    border-top: 0;
    padding: 5px 0 0;
}

/*
None borders from posts
*/
.wall_module .wall_posts.all .all, .wall_module .wall_posts.own .own, .wall_module .wall_posts.postponed .postponed, .wall_module .wall_posts.suggested .suggest, .wall_module .wall_posts_search .post {
    box-shadow: none;
}

.post_full_like_wrap {
    border-top: none;
}

.wall_module .wall_text {
    padding: 8px 20px 10px;
}

.wall_module .replies_list {
    border-top: none;
}

.wall_module .reply_box, .wall_module .reply_fakebox_wrap {
    margin-left: 20px;
}

.wall_module .wall_text .page_media_thumbed_link:last-child {
    margin-bottom: 0;
}

/*
Borders for content tab
*/
.ui_tabs {
    border-bottom: none;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}