.im-page.im-page_classic .im-mess-stack {
    max-width: 635px;
}

.im-page.im-page_classic, .im-page.im-page_classic .im-page--header-chat, .im-page.im-page_classic .im-page--header, .im-page.im-page_classic .im-page--chat-input {
    width: 635px !important;
}

.im-chat-input.im-chat-input_classic .im-chat-input--textarea {
    width: 463px;
}

.im-page.im-page_classic .im-mess:not(.im-mess_fwd) {
    width: 631px;
}

.im-right-menu.ui_rmenu {
    box-shadow: none;
}

.im-page.im-page_classic .im-page--dialogs {
    padding-top: 30px;
}

.im-page.im-page_classic .im-page--chat-input {
    margin-left: 0;
}

.im-page.im-page_classic .im-page--header-chat, .im-page.im-page_classic .im-page--chat-input, .im-page.im-page_classic .im-page--header {
    border: 0;
}

.online:after {
    bottom: 1%;
    right: 1%;
}

.im-page.im-page_classic .im-page--header-chat, .im-page.im-page_classic .im-page--header {
    width: 550px;
    margin-left: 0;
}

.im-page .im-page--top-date-bar {
    display: none;
}

.page_media_link_img {
    width: auto;
}

/*unread messages overflow*/
.nim-dialog.nim-dialog_unread-out:not(.nim-dialog_failed) .nim-dialog--unread {
    bottom: 11px !important;
    right: 15px;

    width: 522px;
    height: 26px;

    border-radius: 0;

    background: rgba(147,173,200,0.2);
}

/*bottom panel*/
.im-page.im-page_classic .im-page--dialogs-footer {
    width: 635px;
}

/*left panel*/
.im-right-menu.ui_rmenu {
    padding: 0;
    top: 28px;
    margin-left: 636px;
}

.ui_rmenu_item:hover, .ui_rmenu_subitem:hover, .ui_rmenu_item_sel, .ui_rmenu_item_sel:hover {
    max-width: 134px; /*159px - 25px side padding*/
}

.ui_rmenu_sep {
    max-width: 129px;
}