body {
    background: white;
}

.online:after, .chat_tab_imgcont.online:after {
    background-color: #8ac176;
    border: 0;
    border-radius: 10%;
}

.wall_module .reply_img, .nim-peer .nim-peer--photo-w, .nim-peer.nim-peer_small .im_grid>img, .nim-peer .nim-peer--photo .im_grid>img, .nim-peer .nim-peer--photo>img, .chat_tab_img, .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo .im_grid>img, .nim-dialog.nim-dialog_classic .nim-dialog--photo .nim-peer .nim-peer--photo>img {
    border-radius: 10%;
}

.chat_tab_counter, .nim-dialog.nim-dialog_failed .nim-dialog--unread, .nim-dialog.nim-dialog_unread .nim-dialog--unread, .nim-dialog.nim-dialog_unread.nim-dialog_prep-injected .nim-dialog--unread {
    background-color: #7293b6;
    border-radius: 10%;
}

.chat_onl_inner {
    background-color: white;
}